/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ENCABEZADO */
.encabezado {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #ddc2af;
  gap: 5px;
}

.encabezado h1 {
  width: 100%;
  text-align: center;
}


.encabezado nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
}

.encabezado nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.encabezado nav ul a {
  width: auto;
  font-size: 2em;
  color: black;
  text-decoration: none;
}

/* PANEL DE CONTENIDO */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #ddd6ce;
}

main h2 {
  width: 100%;
  text-align: center;
  margin: 0.5em;
}

main .producto {
  width: 40%;
  height: auto;
  text-align: center;
  margin: 1em;
}

main .producto a {
  position: relative;
}

main .producto a img {
  width: 20rem;
  height: auto;
}

main .producto a span {
  position: absolute;
  right: 0;
  top: 8.5rem;
  background-color: rgba(0, 0, 0, 0.43);
  color: white;
}

/* PIE DE PAGINA */
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #92a4aa;
  padding: 1rem;
}

footer h3 {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
}

footer span {
  width: 75%;
  font-size: 1.1em;
}

/* OTROS */

/* Contactanos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: orange;
  margin-right: 10px;
}

#formulario-contactanos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


/* envia tus diseños */

.input-nombreProyecto {
  width: 50%;
}

.input-dimensiones {
  width: 45%;
}

/* Productos */
.productos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ddd6ce;
}

.productos-encabezado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  gap: 3em;
}

.productos-buscador {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.productos-buscador div {
  background-color: white;
  border-radius: 20px;
  width: 35%;
  font-size: 1.3em;
  padding: 0.2em 0.7em;
  border: 1px solid black;
}

.productos-buscador div input {
  border-style: none;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.productos-buscador button {
  margin-left: 2em;
  border: 1px solid black;
  background-color: white;
  width: 8em;
  height: 2.5em;
  border-radius: 20px;
}

.productos-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.productos-panel .productos-paginacion {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.productos-panel .productos-paginacion button {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
}

.productos-panel .productos-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 2em;
}

.productos-producto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.marco-archivo {
  background-color: white;
  border-radius: 2px;
  width: 65%;
  padding: 0.3em 0.2em;
  padding-top: 0em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);

}

.vertical-line {
  border-left: thick solid #000;
  height: 80ch;
  left: 50%;
  border-width: 0.5px;
  position: absolute;
}


/* Seguimiento de pedido */
.buscador {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #ddd6ce;
}

.buscador #titulo-buscador {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.buscador #titulo-buscador h3 {
  width: 69%;
  text-align: left;
}

.buscador form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 69%;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.buscador form .search {
  background-color: white;
  border-radius: 20px;
  width: 45%;
  font-size: 1.3em;
  padding: 0.2em 0.7em;
}

.buscador form .search #search {
  border-style: none;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.buscador button {
  margin-left: 2em;
  border: 1px solid black;
  background-color: white;
  width: 8em;
  height: 2.5em;
  border-radius: 20px;
}

.buscador .estados {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.buscador .estados .estado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  
}

.buscador .estados .estado #estado-etapa {
  border: 1px solid black;
  border-radius: 2em;
  padding: 0.4em 0.88em;
  font-size: 1.3em;
}

.buscador .estados .estado #estado-nombre {
  font-size: 1.2em;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  font-size: 1.3em;
  text-align: center;
  padding: 0.2em;
}

.linea-punteada{
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  height: 13ch;
  border-top: 1px dashed #000
}