<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <title>{{titulo}}</title>
</head>
</head>

<body>
  <header class="encabezado">
    <div style="width: 70%; height: 200px; background-color: #ddc2af">
      <h1>Titulo de empresa/negocio</h1>
      <br />
      <nav>
        <ul>
          <a href="/">Inicio</a>
          <a href="/productos">Productos</a>
          <a href="#">¡Envía tus diseños!</a>
          <a href="/seguimiento">Seguimiento</a>
          <a href="/contactanos">Contáctanos</a>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="vistaProducto">
      <div style="width: 50%; margin-bottom: 25px;">
        <div class="container-p">
          <div class="img_container">
            <span class="main_img">
              {% if producto.imagenes.first == None %}
              <a href="/vistaProducto/{{producto.id}}" class="productos-producto">
                <img src="{% static 'images/product-placeholder.jpeg' %}" alt="img-producto" style="width: 65%" />
              </a>
              {% elif producto.imagenes.first != None %}
              <a href="/vistaProducto/{{producto.id}}" class="productos-producto">
                <img src="/{{producto.imagenes.first.Ruta}}" alt="img-producto" style="width: 65%" />
              </a>
              {% endif %}
            </span>
          </div>
          <hr>
          <div class="thumbnail_container">
            <img class="thumbnail active" src="/{{producto.imagenes.first.Ruta}}" alt="">
            <img class="thumbnail" src="/{{producto.imagenes.second.Ruta}}" alt="">
            <img class="thumbnail" src="img3.jpg" alt="">
            <img class="thumbnail" src="img4.jpg" alt="">
          </div>
        </div>
      </div>
      <hr class="vertical-line-producto" />
      <div style="width: 48%;">
        <h2 style="text-transform:uppercase;">{{producto}}</h2>
        <h3>$ {{producto.Precio}}</h3>
        <hr>
        <div class="vistaProducto-datos">
          <h4>Dimensiones</h4>
          <div class="vistaProducto-dimensiones">
            <h4>Alto</h4>
            <h5>{{producto.Alto}}mm</h5>
          </div>
          <div class="vistaProducto-dimensiones">
            <h4>Largo</h4>
            <h5>{{producto.Largo}}mm</h5>
          </div>
          <div class="vistaProducto-dimensiones">
            <h4>Ancho</h4>
            <h5>{{producto.Ancho}}mm</h5>
          </div>
        </div>
        <hr>
        <div class="cantidad">
          <h4>Cantidad<h4>
              <button class="boton-suma-resta" onclick="decrement()">-</button>
              <a style="margin-top: 1%;" id="contador"></a>
              <button class="boton-suma-resta" onclick="increment()">+</button>
        </div>
        <button type="submit" id="btnContactanosForm" class="boton-simple">
          Comprar
        </button>
      </div>
    </div>
  </main>
  <footer>
    <h3>Acerca de nosotros</h3>
    <span>Somos un taller artesanal de mobiliario. En este espacio desarrollamos
      pequeños proyectos en los que imprimimos nuestra visión del diseño y del
      arte de la carpintería, así, nuestros productos no solo representan
      nuestras preferencias estéticas, no solo son objeto, sino sobre todo
      expresión de nuestro modo de trabajar la madera, son obra, técnica,
      pasión, sudor y aprendizaje. Aquí el trabajo ha pedido, a medida y a
      baja escala, resultan las reglas para asegurar la calidad no solo de
      nuestro servicio y nuestros proyectos, sino en el ritmo de vida que
      defendemos.
    </span>
  </footer>
</body>

</html>
<!-- JavaScript code-->
<script>
  //initialising a variable name data
  var data = 0;

  //printing default value of data that is 0 in h2 tag
  document.getElementById("contador").innerText = data;

  //creation of increment function
  function increment() {
    data = data + 1;
    document.getElementById("contador").innerText = data;
  }
  //creation of decrement function
  function decrement() {
    data = data - 1;
    document.getElementById("contador").innerText = data;
  }

  // script de selectro de imagen
  const main_img = document.querySelector('.main_img')
  const thumbnails = document.querySelectorAll('.thumbnail')

  thumbnails.forEach(thumb => {
    thumb.addEventListener('click', function () {
      const active = document.querySelector('.active')
      active.classList.remove('active')
      thumb.classList.add('active')
      main_img.src = thumb.src
    })
  })


</script>